# Ignore everything:
/*
node_modules
dist
build
coverage
.eslintignore
*.png
*.svg
*.jpg
*.jpeg
*.svg
.*ignore*
.gitkeep
*.hbs
*.html
*.svg
*.md

# Format the following:
!/configs
!/repos
!/src
!/tap.js
!/tasks
